.react-doc {
  text-align: center;
}

.board-row {
  margin: 0;
  height: 30px;
}

.square {
  border-radius: 0;
  border: solid black 1px;
  font-size: large;
  font-weight: bolder;
  background-color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  line-height: 30px;
  vertical-align: top;
  box-sizing: border-box;
}