font-size = 14px

body
  font: font-size Arial, sans-serif

// Identifiers (variable names and functions etc.) may also include the `$`
// character. For example

$font-name = Arial

// We could use parentheses `()` to create empty variable

$empty = ()

// Stylus is able to reference properties defined without assigning their
// values to variable.

#logo
  position: absolute
  top: 50%
  left: 50%
  width: $w = 150px
  height: $h = 80px
  margin-left: -($w / 2)
  margin-top: -($h / 2)

// Instead of assigning the variables `$w` and `$h`, we can simply prepend the
// `@` character to the property name to access the value.

#logo
  position: relative
  top: 50%
  left: 50%
  width: 150px
  height: 80px
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)

// Another use-case is conditionally defining properties within mixins based on the
// existence of others

position()
  position: arguments
  z-index: 1 unless @z-index

  // We apply a default `z-index` of `1` only if `z-index` was not previously specified

#logo-not-specified
  position(absolute)  // z-index: 1

#logo-specified
  z-index: 20
  position(relative)