// Stylus supports interpolation by using the `{}` characters to surround an
// expression, which then becomes part of the identifier

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor("border-radius", arguments)

box-shadow()
  vendor("box-shadow", arguments)

button
  border-radius 1px 2px / 3px 4px

table
  for row in 1 2 3 4 5
    tr:nth-child({row})   // => tr:nth-child(1) ... tr:nth-child(5)
      height: 10px * row